<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BATHDAL :: A Special Day</title>
    <th:block th:replace="/fragments/header"></th:block> <!-- 헤더 -->
    <link rel="stylesheet" href="/css/myPageStyle.css">
    <style>
        .info .orderInfo #orderList {
            text-decoration-line: underline;
        }
    </style>
</head>
<body>

    <h1>My Page</h1>
    <div class="info">
        <div class="customerInfo">
            <h2>Customer Information</h2>
            <div id="customerName">Name</div>
            <div id="customerEmail">E-mail</div>
            <div id="customerTel">Phone</div>
            <div id="editInfo"><a href="userModifi.html">Edit Your Info></a></div>
        </div>

        <div class="orderInfo">
            <a href="/myOrderList" id="orderList">Order List</a>
            <a href="/mySubscribeList" id="subscribeList">Subscription</a>
            <a href="/myReview" id="myReview">Review</a>
            <a href="/myCart" id="cart">Cart</a>
        </div>
        <div id="subscription">
            Subscripted.
        </div>
    </div>

    <div class="dateBtn">
        <button type="button">Today</button>
        <button type="button">1 week</button>
        <button type="button">1 month</button>
        <button type="button">3 months</button>
        <button type="button">6 months</button>
    </div>
    <div class="orderDetails">
        <span>Order Date</span>
        <span>Image</span>
        <span>Item</span>
        <span>QTY</span>
        <span>Price</span>
        <span>Order State</span>
    </div>
    <div style="text-align: center; margin-top: 50px">
        주문정보
    </div>
</body>
</html>