<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BATHDAL :: A Special Day</title>
    <th:block th:insert="/fragments/header1"></th:block> <!-- 헤더 -->
    <link rel="stylesheet" href="/webapp/css/myPageStyle.css">
</head>
<body>
    <div class = "myPage_banner">
        <video class = "myPage_banner_video" loop data-video="0" autoplay = "autoplay" muted = "muted">
            <source src = "/webapp/image/mypage_banner_video.mp4" type = "video/mp4" >
        </video>
        <div class= "myPage_banner_text">My Page</div>
    </div>

    <div class="info">
        <div class="customerInfo">
            <h2 id="customerInfo_banner">Customer Information</h2>
            <div id="customerName">
                <span class="customerInfoTag">Name : </span>
                <span th:text="${member.getMemberName()}">>Name</span>
            </div>
            <div id="customerPhone">
                <span class="customerInfoTag">Phone Number : </span>
                <span th:text="${member.getMemberPhoneNum()}">Phone</span>
            </div>
            <div id="customerEmail">
                <span class="customerInfoTag">Email : </span>
                <span th:text="${member.getMemberEmail()}">E-mail</span>
            </div>
            <div id="customerGender">
                <span class="customerInfoTag">Gender : </span>
                <span th:text="${member.getMemberGender()}">Gender</span>
            </div>
            <div id="editInfo"><a href="/myPage/userModifi">Edit Your Info></a></div>
        </div>

        <div class="orderInfo">
            <a href="/myPage/myOrderList" id="orderList">Order List</a>
            <a href="/myPage/mySubscribeList" id="subscribeList">Subscription</a>
            <a href="/myPage/myReview" id="myReview">Review</a>
            <a href="/myPage/myCart" id="cart">Cart</a>
        </div>
        <div class="subscriptionBtn">
            <img src="/webapp/image/subscribe_btn.gif"  width="200px" height="150px" title="Subscribe Now!">
            <div id="subscribeHiddenBtn">
                <th:block th:if="${subscribe == null}">
                    <button type="button" onclick="location.href='/subscribe/subscribe'">구독 하러 가기</button>
                </th:block>
                <th:block th:unless="${subscribe == null}">
                    BATHDAL 구독중
                </th:block>
            </div>
        </div>
    </div>

    <footer>
        <img src="/webapp/image/footer.png" width = "100%" height = "70%">
    </footer>

    <script>

    </script>

</body>
</html>