<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BATHDAL :: A Special Day</title>
    <th:block th:insert="/fragments/header1"></th:block> <!-- 헤더 -->
    <link rel="stylesheet" href="/webapp/css/myPageStyle.css">
    <style>
        .img {width:100px; height:100px;}
        .info .orderInfo #myReview {
            text-decoration-line: underline;
            text-underline-color: #f26d7d;
            color: #f26d7d;        }
    </style>
</head>
<body>
    <div class = "myPage_banner">
        <video class = "myPage_banner_video" loop data-video="0" autoplay = "autoplay" muted = "muted">
            <source src = "/webapp/image/mypage_banner_video.mp4" type = "video/mp4" >
        </video>
        <div class= "myPage_banner_text">My Page</div>
    </div>
    <div class="info">
        <div class="customerInfo">
            <h2 id="customerInfo_banner">Customer Information</h2>
            <div id="customerName">
                <span class="customerInfoTag">Name : </span>
                <span th:text="${member.getMemberName()}">>Name</span>
            </div>
            <div id="customerPhone">
                <span class="customerInfoTag">Phone Number : </span>
                <span th:text="${member.getMemberPhoneNum()}">Phone</span>
            </div>
            <div id="customerEmail">
                <span class="customerInfoTag">Email : </span>
                <span th:text="${member.getMemberEmail()}">E-mail</span>
            </div>
            <div id="customerGender">
                <span class="customerInfoTag">Gender : </span>
                <span th:text="${member.getMemberGender()}">Gender</span>
            </div>
            <div id="editInfo"><a href="/myPage/userModifi">Edit Your Info></a></div>
        </div>

        <div class="orderInfo">
            <a href="/myPage/myOrderList" id="orderList">Order List</a>
            <a href="/myPage/mySubscribeList" id="subscribeList">Subscription</a>
            <a href="/myPage/myReview" id="myReview">Review</a>
            <a href="/myPage/myCart" id="cart">Cart</a>
        </div>
        <div class="subscriptionBtn">
            <div id="subscribeHiddenBtn">
                <th:block th:if="${subscribe == null}">
                    <img src="/webapp/image/subscribe_btn.gif"  width="200px" height="150px">
                    <button type="button" onclick="location.href='/subscribe/subscribe'">구독 하러 가기</button>
                </th:block>
                <th:block th:unless="${subscribe == null}">
                    BATHDAL 구독중
                </th:block>
            </div>
        </div>
    </div>

    <div id="reviewInfo" style="text-align: center; margin-top: 50px">
        <table>
            <tbody>
            <tr>
                <th>사진</th>
                <th>종류</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
            <tr th:each="board: ${boardList}">
                <td><img th:src="@{/webapp/file/} + ${board.getRvBoardFile()}" class="img"></td>
                <td th:text="${board.getRvBoardItem()}"></td>
                <td><a th:href="@{/board/reviewRead(rvBoardUid=${board.getRvBoardUid()})}" th:text="${board.getRvBoardTitle()}"></a></td>
                <td th:text="${board.getRvBoardWriter()}"></td>
                <td th:text="${board.getRvBoardRegDate()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div align="center">
        <ul class="pagination" >
            <th:block th:if="${pagination.getTotalListCnt() != 0}">
                <th:block th:if="${pagination.getPage() != 1}">
                    <a th:href="@{/myPage/myReview(page=1)}">맨앞</a>
                    <a th:href="@{/myPage/myReview(page=${pagination.getPreBlock()})}">&laquo;</a>
                </th:block>
            </th:block>
            <a th:each="page:${#numbers.sequence(pagination.getStartPage(), pagination.getEndPage())}">
                <a th:text="${page}" th:href="@{/myPage/myReview(page=${page})}" th:class="${page == pagination.getPage()} ? 'active'"></a>
            </a>
            <th:block th:if="${pagination.getTotalListCnt() != 0}">
                <th:block th:if="${pagination.getPage() != pagination.totalPageCnt}">
                    <a th:href="@{/myPage/myReview(page=${pagination.getNextBlock()})}">&raquo;</a>
                    <a th:href="@{/myPage/myRevieww(page=${pagination.getTotalPageCnt()})}">맨뒤</a>
                </th:block>
            </th:block>
        </ul>
    </div>

    <footer>
        <img src="/webapp/image/footer.png" width = "100%" height = "70%">
    </footer>
</body>
</html>