<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BATHDAL :: A Special Day</title>
    <th:block th:insert="/fragments/header1"></th:block> <!-- 헤더 -->
    <link rel="stylesheet" href="../../static/css/myPageStyle.css">
    <style>
        .info .orderInfo #myReview {
            text-decoration-line: underline;
        }
    </style>
</head>
<body>

    <h1>My Page</h1>
    <div class="info">
        <div class="customerInfo">
            <h2>Customer Information</h2>
            <div id="customerName">Name</div>
            <div id="customerEmail">E-mail</div>
            <div id="customerTel">Phone</div>
            <div id="editInfo"><a href="/myPage/userModifi">Edit Your Info></a></div>
        </div>

        <div class="orderInfo">
            <a href="/myPage/myOrderList" id="orderList">Order List</a>
            <a href="/myPage/mySubscribeList" id="subscribeList">Subscription</a>
            <a href="/myPage/myReview" id="myReview">Review</a>
            <a href="/myPage/myCart" id="cart">Cart</a>
        </div>
        <div id="subscription">
            Subscripted.
        </div>
    </div>

    <div style="text-align: center; margin-top: 50px">
        리뷰정보
    </div>
</body>
</html>