<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BATHDAL :: A Special Day</title>
    <th:block th:insert="/fragments/header1"></th:block> <!-- 헤더 -->
    <link rel="stylesheet" href="/webapp/css/myPageStyle.css">
    <style>
        .info .orderInfo #subscribeList {
            text-decoration-line: underline;
            text-underline-color: #f26d7d;
            color: #f26d7d;        }
    </style>
</head>
<body>
    <div class = "banner">
        <video class = "banner_video" loop data-video="0" autoplay = "autoplay" muted = "muted">
            <source src = "/webapp/image/mypage_banner_video.mp4" type = "video/mp4" >
        </video>
        <div class= "banner_text">My Page</div>
    </div>
    <div class="info">
        <div class="customerInfo">
            <h2 id="customerInfo_banner">Customer Information</h2>
            <div id="customerName" th:text="${member.getMemberName()}">Name</div>
            <div id="customerTel" th:text="${member.getMemberPhoneNum()}">Phone</div>
            <div id="customerEmail" th:text="${member.getMemberEmail()}">E-mail</div>
            <div id="customerGender" th:text="${member.getMemberGender()}">Gender</div>
            <div id="editInfo"><a href="/myPage/userModifi">Edit Your Info></a></div>
        </div>

        <div class="orderInfo">
            <a href="/myPage/myOrderList" id="orderList">Order List</a>
            <a href="/myPage/mySubscribeList" id="subscribeList">Subscription</a>
            <a href="/myPage/myReview" id="myReview">Review</a>
            <a href="/myPage/myCart" id="cart">Cart</a>
        </div>
        <div id="subscription">
            <th:block th:if="${subscribe == null}">
                <button type="button" onclick="location.href='/subscribe/subscribe'">구독 하러 가기</button>
            </th:block>
            <th:block th:unless="${subscribe == null}">
                BATHDAL 구독중
            </th:block>
        </div>
    </div>

    <div class="subDetails">
        <span>Category</span>
        <span>Delivery Address</span>
        <span>Delivery Status</span>
        <span>Charge</span>
        <span>Subscribe Start Date</span>

        <th:block th:if="${subscribe != null}">
            BATHDAL
            <a th:text="${subscribe.getSbDeliveryAddress()}"></a>
            <a th:text="${subscribe.getSbDeliveryStatus()}"></a>
            <a th:text="${subscribe.getSbPrice()}"></a>
            <a th:text="${subscribe.getSbRegDate()}"></a>
        </th:block>
    </div>
    <div style="text-align: center; margin-top: 50px">
            <!-- 여기다가 넣으면 이상하게돼서 위에다가 넣었습니다 -->
    </div>

    <footer>
        <img src="/webapp/image/footer.png" width = "100%" height = "70%">
    </footer>
</body>
</html>