<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BATHDAL :: A Special Day</title>
    <th:block th:insert="/fragments/header1"></th:block> <!-- 헤더 -->
    <link rel="stylesheet" href="../../static/css/myPageStyle.css">
    <style>
        .editLabel {
            color: #f26d7d;
        }
    </style>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<style>
    .inputError {
        border-color: #bd2130;
    }
</style>
<body>
    <h1 id="myPage_banner">My Page</h1>
    <div class="customerInfo">
        <!-- 회원 수정 폼-->
        <form action="/myPage/userModifi" method="post" th:object="${memberForm}">
            <div>
                <span class="editLabel">Password</span>
                <span>
                   <input type="password" class="pw" id="password_1" name="memberPw">
                    <span>8~15자리의 영문, 숫자, 특수문자의 입력이 가능합니다.</span>
                </span>
            </div>
            <div>
                <span class="editLabel">Re-enter password</span>
                <span>
                    <input type="password" class="pw" id="password_2">
                    <span id="alert-success" style="display: none;">비밀번호가 일치합니다.</span>
                    <span id="alert-danger" style="display: none; color: #d92742; font-weight: bold; ">비밀번호가 일치하지 않습니다.</span>
                </span>
            </div>
            <div>
                <span class="editLabel">Name</span>
                <span>
                    <input type="text" name="memberName" th:value="${member.getMemberName()}">
                </span>
            </div>
            <div>
                <span class="editLabel">Phone number</span>
                <span>
                    <input type="text" name="memberPhoneNum" th:value="${member.getMemberPhoneNum()}">
                </span>
            </div>
            <div>
                <span class="editLabel">E-mail</span>
                <span>
                    <input type="text" name="memberEmail" th:value="${member.getMemberEmail()}"><br>
                </span>
            </div>
            <div>
                <th:block th:if="${member.getMemberGender().equals('Male')}">
                    <input type="radio" name="memberGender" class="signupForm" checked="checked"  value="Male">Male
                    <input type="radio" name="memberGender" class="signupForm" value="Female">Female
                </th:block>

                <th:block th:if="${member.getMemberGender().equals('Female')}">
                    <input type="radio" name="memberGender" class="signupForm" checked="checked"  value="Male">Male
                    <input type="radio" name="memberGender" class="signupForm" value="Female">Female
                </th:block>
                <br>
            </div>
            <br>
            <input type="submit" value="Confirm">
        </form>
    </div>

    <script>
        $('.pw').focusout(function () {
            var pwd1 = $("#password_1").val();
            var pwd2 = $("#password_2").val();

            if ( pwd1 != '' && pwd2 == '' ) {
                null;
            } else if (pwd1 != "" || pwd2 != "") {
                if (pwd1 == pwd2) {
                    $("#alert-success").css('display', 'inline-block');
                    $("#alert-danger").css('display', 'none');
                } else {
                    $("#alert-success").css('display', 'none');
                    $("#alert-danger").css('display', 'inline-block');
                }
            }
        });
    </script>
</body>
</html>