<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BATHDAL :: A Special Day</title>
    <th:block th:insert="/fragments/header1"></th:block> <!-- 헤더 -->
    <link rel="stylesheet" href="../../static/css/myPageStyle.css">
</head>
<style>
    .inputError {
        border-color: #bd2130;
    }
</style>
<body>
<br><br><br><br><!-- 헤더때문에 가려서 -->
    <!-- 회원 수정 폼-->
    <form action="/myPage/userModifi" method="post">
        <div>Password</div>
        <input type="password" name="memberPw">

        <div>Re-enter password</div>
        <input type="password">

        <div>Name</div>
        <input type="text" name="memberName" th:value="${member.getMemberName()}">

        <div>Phone number</div>
        <input type="text" name="memberPhoneNum" th:value="${member.getMemberPhoneNum()}">

        <div>E-mail</div>
        <input type="text" name="memberEmail" th:value="${member.getMemberEmail()}"><br>

        <th:block th:if="${member.getMemberGender().equals('Male')}">
        <input type="radio" name="memberGender" class="signupForm" checked="checked"  value="Male">Male
        <input type="radio" name="memberGender" class="signupForm" value="Female">Female
        </th:block>

        <th:block th:if="${member.getMemberGender().equals('Female')}">
            <input type="radio" name="memberGender" class="signupForm" checked="checked"  value="Male">Male
            <input type="radio" name="memberGender" class="signupForm" value="Female">Female
        </th:block>
        <br>
        <input type="submit" value="Confirm">
    </form>
</body>
</html>