<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>BATHDAL :: A Special Day</title>
    <link rel="stylesheet" href="header.css">
    <style>
    h1{
    text-align:center;
    }

    h3{
    text-align:center;
    color:gray;
    }

    .next{
    text-align:center;
    margin:10px;
    }

    .next a{
    border:5px solid pink;
    display:inline;
    }
    </style>
</head>
<body>
<th:block th:replace="/fragments/header"></th:block> <!-- 헤더 -->


<br><br><br><br><br><br><br>
<h1>Payment is completed.</h1>
<br><br><br>
<h3>Thank you for using BATHDAL.</h3>
<br><br><br><br>
<div class="next"><a href="/goHome">HOME</a> <a href="">ORDER HISTORY</a></div>
</body>
</html>