<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>BATHDAL :: A Special Day</title>
    <link rel="stylesheet" href="header.css">
    <style>
    .progress{
    margin:100px;
    text-align:center;
     }

    .progress div{
    border:5px solid pink;
    display:inline;
    padding:5px;
    margin:40px;
    }

    #type{
    border:5px solid #F65A79;
    }

    .selection{
    text-align:center;
    }

    .selection div{
    border:5px solid pink;
    margin:20px;
    padding:15px;
    }

    .selection div h2{
    color:#F65A79;
    }
    </style>
</head>
<body>
<th:block th:replace="/fragments/header"></th:block> <!-- 헤더 -->

<div class="progress">
    <div id="type">type</div>
    <div id="result">result</div>
    <div id="payment">payment</div>
</div>

<h2 style="text-align:center">Please select the payment type you want.</h2>

<div class="selection">
    <div id="typeselect1">
        <h2>For me</h2>
        <h3>Give it to yourself regularly!</h3>
        <h4><a href="/subscribeResult">[Monthly payment]</a></h4>
    </div>
    <div id="typeselect2">
        <h2>For Others</h2>
        <h3>Give it to someone precious around you!</h3>
        <h4><a href="/shop">[A one-time gift]</a></h4>
    </div>
</div>
</body>
</html>