body{
    font-family: 'Bahnschrift';
}

.myPage_banner{
    grid-area: banner;
    margin-bottom: 150px;
}
.myPage_banner_text{
    position :relative;
    bottom: 75%;
    text-align: center;
    font-size: 50px;
    color : white;
    font-weight: bold;
    word-break: keep-all;
    text-shadow: 0 0 30px rgba(0,0,0,.3);
    margin-top: -150px;
}
.myPage_banner_video{
    width : "300%";
    height : "auto" ;
    min-width: 100%;
    object-fit:fill;
}
.info {
    display: inline;
}
.customerInfo {
    border:5px solid pink;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    width:300px;
    top:50%;
    left:50%;
    margin:auto;
}
.customerEditInfo {
    border:5px solid pink;
    text-align: left;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 30px;
    width:600px;
    top:50%;
    left:50%;
    margin:auto;
}
#customerInfo_banner {
    color: #f26d7d;
}
.customerInfoTag {
    color: #f26d7d;
}
#customerName {
    padding: 10px;
    text-align: left;
}
#customerPhone {
    padding: 10px;
    text-align: left;
}
#customerEmail {
    padding: 10px;
    text-align: left;
}
#customerGender {
    padding: 10px;
    text-align: left;
}
#editInfo {
    margin-top: 50px;
    margin-bottom: 20px;
}
.orderInfo {
    height: 50px;
    margin-top: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 20px;
}
.subscriptionBtn {
    text-align: center;
    padding-bottom: 70px;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
}
#subscribeHiddenBtn {
    margin-top: -92px;
    opacity: 10%;
}
.dateBtn{
    border-top: 3px pink solid;
    padding-top: 70px;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 70px;

}
.orderDetails {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 70px;
    font-size: 20px;
}
.subDetails {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 150px 1fr;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 70px;
    border-top: 3px pink solid;
    padding-top: 70px;
    font-size: 20px;
}
#userSubInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 150px 1fr;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 70px;
    font-size: 20px;
}
#reviewInfo {
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 70px;
    border-top: 3px pink solid;
    padding-top: 70px;
}
.cartDetails {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 70px;
    border-top: 3px pink solid;
    padding-top: 70px;
    font-size: 20px;
}
.userCartDetails {
    display: grid;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 70px;
}
.orderCart {
    margin-top: 80px;
    margin-right: 400px;
    float: right;
}
#subscriber {
    font-size: 25px;
    color: #F65A79;
}
a {
    color: black;
}
.info .orderInfo a{
    text-decoration: none;
}
h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 40px;
}
footer{
    margin-top: 400px;
}