<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BATHDAL :: A Special Day</title>
</head>
<body>
<th:block th:replace="/fragments/header"></th:block> <!-- 헤더 -->

<!-- br은 줄바꿈이라서 나중에 div하시면 없애셔도돼요! -->
    <!-- 로그인 폼 -->
<br><br><br><br>
    <form action="" method="post">
        USERID<input type="text" name="memberId"><br>
        PASSWORD<input type="password" name="memberPw"><br>
        <input type="submit" value="로그인">
    </form>
        <a href="/signUp">Create an Account</a><br>
        <a href="">Find your Id</a>
        <a href="">Find your Pw</a>
</body>
</html>