<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BATHDAL :: A Special Day</title>
</head>
<body>
    <th:block th:if="${resultCode == 1}">
        <script>
            alert("Create a Account Successful");    //로그인성공
            location.replace("/login");
        </script>
    </th:block>

    <th:block th:if="${resultCode == 0}">
        <script>
            alert("Member information does not exist");   //회원정보x
            history.back();
        </script>
    </th:block>
</body>
</html>